<header>
<section class="header-section col-lg-12 col-sm-12 col-md-12">
<div class="centered col-lg-10 legend-primary">Mobile Library</div> 
<p class="centered col-lg-2 legend-primary">User:
{{username}}</p> 

</section>
</header>
{{yield}}
