<div class="col-lg-12 randy-container" id="randy-container">
</div>
<div class="col-lg-12 ">
<button type="button" class="centered btn btn-info" {{action 'startgame'}}>Show Numbers</button>
<b style = 'color:red'>Game Level : {{level}} </b>
<b style = 'color : #20B2AA'>SCORE : {{SCORE}}</b>
</div>

