<ul class="dashboard">
   <li class="widget">
        <div class="header"> <b title="Go to report or URL.">{{widgetName}}</b>
    <span class="settings">
            <i class="icon-resize-full"></i>
            <i class="icon-remove"></i>
        </span>

        </div>
        <div class="content content-{{widgetName}}">
            <div>{{yield}}</div>          
        </div>
    </li>         
</ul>