
{{#header-component data=userDetails}}
{{/header-component}}
<h1 style="margin-left:20px">My dashboard</h1>
   <button type="submit" class="btn btn-default" id="logout" {{action 'click_logout'}}>Logout</button>

 {{#each widgetsArray as |product|}}
 	
    {{#widget-card type=product}}{{/widget-card}}

  {{/each}}


  {{#widget-card type=sample}} 
  	{{#leisure-game }}{{/leisure-game}}
  {{/widget-card}}
  
  {{#widget-card type=sample}} 
  	{{#battery-usage}}{{/battery-usage}}
  {{/widget-card}}

{{#footer-component}}
{{/footer-component}}

{{outlet}}
