
{{#header-component data=userDetails}}
{{/header-component}}
<h1 style="margin-left:20px">My dashboard</h1>

 {{#each widgetsArray as |product|}}
 	
    {{#widget-card type=product}} {{/widget-card}}

  {{/each}}


  {{#widget-card type=sample}} 
  	{{#leisure-game }}{{/leisure-game}}
  {{/widget-card}}
 

{{#footer-component}}
{{/footer-component}}

{{outlet}}
